.step {

  p {
    margin: 0;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    div {
      display: flex;
      align-items: center;
    }
  }

  &-selectors {

    &__row {
      display: flex;
      gap: 20px;
    }

    &__column {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        gap: 10px;
      }

      button {
        width: max-content;
        margin: auto;
      }
    }
  }
}
